ul {
  margin-left: 0px;
  margin-right: 0px;
}
h3 {
  font-family: 'Press Start 2P', sans-serif;
}

.question {
  top: 565px;
  left: 1%;
  position: absolute;
}

#input-canvas {
  margin-left: 10px;
  height: 500px;
  width: 500px;
  float: left;
  background-image: url(../public/img/input_background.gif);
  background-repeat: no-repeat;
  /*cursor: url(../public/cursor.gif), pointer;*/
}

#output-canvas {
  margin-right: 10px;
  height: 500px;
  width: 500px;
  float: right;
  background-image: url(../public/img/output_background.gif);
  background-repeat: no-repeat;
}

#progress-container {
  height: 30px;
  width:270px;
  position: absolute;
  top: 580px;
  left: 25%;
  margin: -15px 0 0 -135px;
}

#progressbar {
  width: 0%;
  position: absolute;
}

#score {
  width: 100%;
  position: absolute;
  top: 15%;
  color: black;
  text-align: center;
}
