ul {
  margin-left: 0px;
  margin-right: 0px;
}
h3 {
  font-family: 'Press Start 2P', sans-serif;
  color: #88FD68;
  text-align: center;
  font-size: 18px;
  margin: inherit;
}

.question {
  top: 565px;
  left: 1%;
  position: absolute;
}

#lowerBoundLevel, #upperBoundLevel {
  background-color: rgba(0,0,0,0);
  border: none;
}

#lowerBoundGuide, #upperBoundGuide {
  /* Insert Styles Here */
}

#navigation {
  background-color: rgba(0,0,0,0);
  height: 30px;
  width: 270px;
  position: absolute;
  top: 93%;
  left: 80%;
}


#input-canvas, #output-canvas {
  margin-top: 1.25%;
  /*height: 300px;
  width: 300px;*/
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1 !important;
}
#input-canvas{
    margin-left: 10px;
    background-image: url(../public/img/input_background.gif);
    float: left;
}
#output-canvas {
  margin-right: 10px;
  float: right;
  background-image: url(../public/img/output_background.gif);
}
#input-svg {
    width: 100%;
    height: 100%;
}
#output-svg{
    width: 100%;
    height: 100%;
}
.progress-bar .progress-bar-striped .active {
  background-image: url(../public/img/bar.gif) !important;
}

.progress-bar-success {
  background-color: #31BA29;
}

/*.progress {
  border-image: url();
}*/



#progress-img {
  position: absolute;
  top: 92%;
  left: 1.5%;
}
.scene_button {
  position: absolute;
  top: 92%;
  left: 45%;
  font-family: 'Press Start 2P', sans-serif;
  color: #88FD68;
}
#progress-container {
  height: 25px;
  width: 316px;
  position: absolute;
  top: 94.5%;
  left: 27.5%;
  margin: -15px 0 0 -135px;
  /*background-image: url(../public/img/bar.gif);*/
  background-color: rgba(255,255,255,.5);
}

#progressbar {
  width: 0%;
  position: absolute;
  /*background-image: url(../public/img/bar.gif);*/
}

#score {
  width: 100%;
  position: absolute;
  top: 15%;
  color: black;
  text-align: center;
}

#guide {
  position: absolute;
  top: 0%;
  left: 1%;
}

.popover {
  max-width: 800px;
  width: 275px;
  height: 130px;
}
