ul {
  margin-left: 0px;
  margin-right: 0px;
}
h3 {
  font-family: 'Press Start 2P', sans-serif;
  color: #88FD68;
  text-align: center;
  font-size: inherit;
  margin: inherit;
}

.question {
  top: 565px;
  left: 1%;
  position: absolute;
}

#lowerBoundLevel, #upperBoundLevel {
  background-color: rgba(0,0,0,0);
  border: none;
}

#lowerBoundGuide, #upperBoundGuide {
  /* Insert Styles Here */
}

#navigation {
  background-color: rgba(0,0,0,0);
  height: 30px;
  width: 270px;
  position: absolute;
  top: 605px;
  left: 80%;
}


#input-canvas {
  margin-top: 40px;
  margin-left: 10px;
  height: 500px;
  width: 500px;
  float: left;
  background-image: url(../public/img/input_background.gif);
  background-repeat: no-repeat;
  opacity: 1 !important;
}

.progress-bar .progress-bar-striped .active {
  background-image: url(../public/img/bar.gif) !important;
}

#output-canvas {
  margin-top: 40px;
  margin-right: 10px;
  height: 500px;
  width: 500px;
  float: right;
  background-image: url(../public/img/output_background.gif);
  background-repeat: no-repeat;
}

#progress-img {
  position: absolute;
  top: 590px;
  left: 1.5%;
}
#progress-container {
  height: 25px;
  width: 316px;
  position: absolute;
  top: 605px;
  left: 27.5%;
  margin: -15px 0 0 -135px;
  background-image: url(../public/img/bar.gif);
  background-color: rgba(255,255,255,.5);
}

#progressbar {
  width: 0%;
  position: absolute;
  /*background-image: url(../public/img/bar.gif);*/
}

#score {
  width: 100%;
  position: absolute;
  top: 15%;
  color: black;
  text-align: center;
}

#guide {
  position: absolute;
  top: 0%;
  left: 0%;
}

.popover {
  max-width: 800px;
  width: 300px;
  height: 130px;
}
