---
layout: minimum
---

<style>
h3 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 23px;
  font-family: monospace, monospace;
  font-weight:300;
  top: 0px;
  left: 0px;
}
body {
  background-color: black;
  background: url(../public/img/guide/staticbg.gif);
  color: lime;
  font-family:monospace,monospace;
  font-size: 15px;
  letter-spacing: 1pt;
}
</style>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <h3>{{ page.title }}</h3>
  </div>
</div>

<br><br>

<div class="container">
  {{ content }}
</div>
