---
layout: project
title: Start
---

<div id="start">
  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation"><a id="infoLink" href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
      <li role="presentation" onclick='loadPage("frameLevel", "0", "0")'><a id="gameLink" href="#game" aria-controls="game" role="tab" data-toggle="tab">Game</a></li>
      <li role="presentation" onclick='loadPage("frameGuide", "0", "1")'><a id="guideLink" href="#mathguide" aria-controls="mathguide" role="tab" data-toggle="tab">Guide</a></li>
      <li role="presentation"><a href="https://docs.google.com/document/d/1kLzne0tQvIpoNIxl_f78nzs98VPcYDaUGbIWnQz8cbQ/edit" target="_blank" aria-controls="feedback">Feedback</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      {% include info.html %}
      {% include game.html %}
      {% include guide.html %}
    </div>
  </div>
</div>

<script src="../public/js/project/levelTracking.js"></script>
<script>
  // Trigger click on Game tab
  $(document).ready(function() {
    $('#gameLink').click();
  });
</script>
