<!--
- foot.html
- This file includes everything that needs to be loaded (dependencies or whatnots) at the very bottom of the page
-->

<!-- TODO: Download the dependecies locally -->
<script src='{{ site.baseurl }}bower_components/d3/d3.min.js'></script>
<script src='{{ site.baseurl }}bower_components/jquery/dist/jquery.min.js'></script>
<script src='{{ site.baseurl }}bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
<script src='{{ site.baseurl }}bower_components/typed.js/dist/typed.min.js'></script>
<!-- <script src='{{ site.baseurl }}public/js/index.js'></script> -->
<script src='{{ site.baseurl }}public/js/button.js'></script>
<script src='{{ site.baseurl }}public/js/type.js'></script>

  <!-- Custom JS: This includes the file that has bundled together all the code in public/js/project/ -->
  <script src='{{ site.baseurl }}dist/bundle.js'></script>
<!--  <script src='{{ site.baseurl }}dist/bundle.min.js'> -->
