<script src="{{ site.baseurl }}bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}bower_components/ScrollMagic/scrollmagic/minified/ScrollMagic.min.js"></script>
<script src="{{ site.baseurl }}bower_components/ScrollMagic/scrollmagic/minified/plugins/jquery.ScrollMagic.min.js"></script>
<script src="{{ site.baseurl }}bower_components/ScrollMagic/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
<script src="{{ site.baseurl }}bower_components/ScrollMagic/scrollmagic/minified/plugins/animation.velocity.min.js"></script>
<script src="{{ site.baseurl }}bower_components/ScrollMagic/scrollmagic/minified/plugins/debug.addIndicators.min.js"></script>

{% include ga.html %}
