<!--
- foot.html
- This file includes everything that needs to be loaded (dependencies or whatnots) at the very bottom of the page
-->

<!-- TODO: Download the dependecies locally -->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src='{{ site.baseurl }}bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
<script src='{{ site.baseurl }}bower_components/typed.js/dist/typed.min.js'></script>
<!-- <script src='{{ site.baseurl }}public/js/index.js'></script> -->
<script src='{{ site.baseurl }}public/js/button.js'></script>
<script src='{{ site.baseurl }}public/js/type.js'></script>

  <!-- Custom JS -->
  <script src='{{ site.baseurl }}public/js/project/canvas/canvas.js'></script> 
  <script src='{{ site.baseurl }}public/js/project/actors/vector.js'></script> 
  <script src='{{ site.baseurl }}public/js/project/actors/target.js'></script> 
  <script src='{{ site.baseurl }}public/js/project/playground.js'></script> 
