<div role="tabpanel" class="tab-pane fade" id="game">
  <div class="container">
    <div id="nextLevel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="nextLevelLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="alert alert-success fade in">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <strong>
              <span class="glyphicon glyphicon-ok"></span>
              Congratulations!
            </strong>
            Proceed to the next level
        </div>
      </div>
    </div>
  </div>
  <div id="frameLevel" class="frameDiv" frameborder="0" width="100%"></div>
  <center>
    <div class="btn-group" role="group" aria-label="Game Navigation">
      <button id="lowerBoundLevel" type="button" class="btn btn-default" onclick='loadPage("frameLevel", "-1", "0")'>
        <span class="glyphicon glyphicon-menu-left"></span>
      </button>
      <button id="upperBoundLevel" type="button" class="btn btn-default" onclick='loadPage("frameLevel", "1", "0")'>
        <span class="glyphicon glyphicon-menu-right"></span>
      </button>
    </div>
  </center>
</div>
