<style>
  img {
    margin: 0 auto;
    margin-top: 35%;
  }

  .arrow {
    font-family: 'Glyphicons Halflings' !important;
    font-size: 100px !important;
    color: #CCCCCC !important;
    margin-top: 35%;
  }
</style>

<script>
  var vec = new Victor(42, 1337);
  vec.x;

  Victor(50, 60)
  .add(new Victor(20, 30))
  .toString();
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="demo demo-add1"></div>
    </div>

    <div class="col-md-2">
      <center>
        <!-- <img src="{{ site.baseurl }}public/calculator.png" height="100" width="100"/> -->
        <span class="glyphicon glyphicon-arrow-right arrow"></span>
      </center>
    </div>

    <div class="col-md-5">
      <div class="demo demo-add2"></div>
    </div>
  </div>
</div>

<script src="{{ site.baseurl}}public/js/bundle/main.js"></script>
