#home {
  height: 100vh;
  background: #cccccc url(Project_415x.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  h2 {
    font-family: 'Press Start 2P', sans-serif;
    color: #FFFFFF;
    margin-bottom: 75px;
    white-space: nowrap;
    a {
      color: #FFFFFF;
    }

    &:hover,
    &:focus {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.95;
    }
  }
  .container {
    padding-top: 0%;
  }
  @include media-query($screen-sm-min) {
    h2 {
      font-size: 28px;
    }
    .container {
      padding-top: 50%;
    }
  }
  .btn {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 18px 30px;
    z-index: 1;
    border: 0; // in case this is a button element
    outline: 0; // in case this is a button element
    cursor: pointer; // in case this is a button element
    // @include font-size(12);
    font-family: 'Press Start 2P', sans-serif;
    color: #FFFFFF;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: bold;
    // pseudo-border, so that the hover panel will cover it up on hover
    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 6px;
      z-index: -2;
      content: '';
    }
    &.red {
      background: red;
    }
    &.green {
      background: green;
    }
    &.blue {
      background: blue;
    }
    &.orange {
      background: #e85a10;
    }
  }
  .btn .hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    span {
      position: relative;
      display: block;
      left: -15px;
      height: 10px;
      width: 0;
      content: '';
    }
    span:after {
      position: absolute;
      display: block;
      right: -10px;
      width: 10px;
      height: 10px;
      background: #FFFFFF; // light-toned squares
      content: '';
    }
    span:nth-child(odd) {
      &:after {
        background: rgba(#000000, 0.35);
      }
      // dark-toned squares
    }
    span:first-child {
      left: -75px; // staggered offset
      transition: all 0.3s steps(8);
    }
    span:nth-child(2) {
      left: -45px; // staggered offset
      transition: all 0.325s steps(8);
    }
    span:nth-child(3) {
      left: -55px; // staggered offset
      transition: all 0.35s steps(8);
    }
    span:nth-child(4) {
      transition: all 0.4s steps(8);
    }
    span:nth-child(5) {
      left: -25px; // staggered offset
      transition: all 0.375s steps(8);
    }
  }
  .btn:hover .hover {
    span:first-child {
      width: calc(100% + 76px);
      transition: all 0.4s steps(8);
      &:after {
        animation: whiteBlack 0.3s 0s 1 forwards;
      }
    }
    span:nth-child(2) {
      width: calc(100% + 46px);
      transition: all 0.375s steps(8);
      &:after {
        animation: whiteBlack 0.3s 0.06s 1 reverse backwards;
      }
    }
    span:nth-child(3) {
      width: calc(100% + 56px);
      transition: all 0.35s steps(8);
      &:after {
        animation: whiteBlack 0.3s 0.05s 1 forwards;
      }
    }
    span:nth-child(4) {
      width: calc(100% + 16px);
      transition: all 0.3s steps(8);
      &:after {
        animation: whiteBlack 0.3s 0s 1 reverse backwards;
      }
    }
    span:nth-child(5) {
      width: calc(100% + 26px);
      transition: all 0.325s steps(8);
      &:after {
        animation: whiteBlack 0.3s 0.07s 1 forwards;
      }
    }
  }
  @keyframes whiteBlack {
    0%,
    24% {
      background: #FFFFFF;
    }
    25%,
    49% {
      background: rgba(#000000, 0.35);
    }
    50%,
    74% {
      background: #FFFFFF;
    }
    75%,
    100% {
      background: rgba(#000000, 0.35);
    }
  }
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
