/**
 * General
 */
 #start .nav a {
  color: #88FD68 !important;
 }
 .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background: none;
 }
 .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
  border: none;
 }
 .nav-tabs>li>a:hover {
  border: none;
  background: none;
 }


.project {
  height: 100%;
  h1,
  h2,
  h3,
  h4 {
    font-family: "Josefin Slab", serif;
    font-weight: bold;
    color: #88FD68;
    text-align: center;
  }
  h1 {

    // font-style: italic;
    font-weight: bold;
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  .noselect * {
    user-select: none;
  }
  header {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  /**
   * Lesson Info
   */
  .lessonInfo {
    padding-top: 10%;
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    text-align: justify;
    width: 75wh;
  }

  /**
   * ScrollMagic Containers
   */
  .container {
    height: 100%;
    margin: 0 auto;
    max-width: 900px;
    position: relative;
    width: 100%;
    // opacity: 0 !important;
  }
  #content-wrapper {
    height: 100%;
    min-height: 500px;
    width: 100%;
  }
  .scroll-magic-section {
    height: 100%;
  }

  /**
   * ScrollMagic Pin Panel
   */
  #pin {
    overflow: hidden;
    width: 100%;
    h1 {
      margin: -40px 0 0;
      position: relative;
      top: 50%;
      font-size: 80px;
      line-height: 80px;
      text-align: center;
      color: #efefef;
    }
    h2 {
      font-size: 50px;
      text-align: center;
      margin-top: 5%;
    }
    .subtitle {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 5px;
      position: relative;
      text-align: center;
      vertical-align: middle;
    }
    .info {
      font-size: 28px;
      margin: 0 auto;
      text-align: center;
      color: #000;
    }

    // .infoModal {
    //   z-index: 100;
    // }
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 40px;
      font-weight: 300;
      color: #efefef;
      position: relative;
      text-align: center;
      top: 35%;
    }
  }

  /**
   * ScrollMagic Wipe Panels
   */
  #wipe0 {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    background: #2e639e;
    h1 {
      color: white;
    }
    p {
      color: white;
    }
  }
  #wipe1 {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    background: red;
  }
  #wipe2 {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    background: #fff;
  }
  #wipe3 {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    background: #fff;
  }
  #wipe4 {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    background: green;
  }

  /**
   * ScrollMagic Slide Panels
   */
  #slide0 {
    height: 100%;
    position: absolute;
    top: -100%;
    width: 100%;
    background: #c7e1ff;
    h1 {
      position: absolute;
      width: 100%;
      color: black;
    }
    p {
      color: black;
    }
  }
  #slide1,
  #slide2 {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: 100%;
    background: tan;
  }

  /**
   * ScrollMagic Unpin Panel
   */
  #unpin {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background: maroon;
  }
}
