#game_body {
  background-color: rgba(0,0,0,0);
}
.nav-tabs.nav-justified>li>a {
  border-bottom: none;
}
#start {
  background: url("../public/img/robotbg.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;

  .frameDiv {
    background-color: rgba(0,0,0,0);
    height: 670px;
    overflow: hidden;
    color: #000000;
    white-space: pre-wrap;
  }

  .infoLeft {
    display: none;
  }

  .infoRight {
    float: right;
  }

  .tab-content {
    .tab-pane,
    .container {
      // background-color: #FFFFFF;
    }

    #home,
    #game,
    #mathguide {
      background-color: rgba(200,200,200,0);
    }
  }

  h2 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 36px;
    color: #88FD68;

    a {
      color: #FFFFFF;
      text-decoration: none;
    }

  }

  h3 {
    // font-family: 'Roboto', sans-serif;
    font-family: 'Press Start 2P', sans-serif;
    // font-weight: 600;
    color: #88FD68;
    font-size: 24px;
  }

  h4 {
    font-size: 24px;
  }

  @include media-query($screen-sm-min) {
    h2 {
      font-size: 28px;
    }
  }

  .thumbnail {
    height: 100%;
    width: 100%;
  }

  .people {
    list-style-type: none;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        color: #88FD68;
        font-size: 14px;
      }

      &:hover,
      &:focus {
        // img {
        //   -webkit-filter: grayscale(0);
        //   filter: grayscale(0);
        // }
        opacity: 0.75;
      }

      &:active {
        // img {
        //   -webkit-filter: grayscale(0.95);
        //   filter: grayscale(0.95);
        // }
        opacity: 0.95;
      }
    }
  }

  .nav {
    font-family: 'Press Start 2P', sans-serif;

    a {
      color: #333333;
    }
  }
}
