---
layout: minimum
---



<!-- TODO: Make sure that the styling will be in a SCSS file -->
<style>
	.arrow {
		margin-top: 5vh;
		font-family: 'Glyphicons Halflings';
		font-size: 100px !important;
		color: #CCCCCC !important;
	}

	canvas {
		margin-top: 9vh;
	}

	.btn-gray {
		background-color: #CCCCCC;
	}

	.btn-gray:hover {
		background-color: #CCCCCC;
		opacity: 0.75;
	}

	.btn-gray:focus,
	.btn-gray:active {
		/*opacity: 0.90;*/
		background-color: orange;
		color: #FFFFFF;
	}

	.input-matrix {
		width: 50px;
		display: inline-block;
	}

  h3 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
  }
</style>

<!-- Configurations -->
<script type="text/javascript">
	var input = {};
	var matrix = [
		[2, 1],
		[1, -1]
	];
  var levelScore;

	// var matrix = [
	// 	[0.5, 0],
	// 	[0, 0.5]
	// ];

	var inputEvent;
	var gameMode;

	function updateMatrix(mode) {
		/**
		 * Game Modes
		 * 0 - Default
		 * 1 - XY-Axes
		 * 2 - Straight Line
		 * 3 - Circle
		 * 4 - Shooting Gallery
		 */

		 gameMode = mode ? mode : 0;
		 console.log("gameMode: " + mode);

		var m00 = document.getElementById('matrix00').value ? document.getElementById('matrix00').value : matrix[0][0];
		var m01 = document.getElementById('matrix01').value ? document.getElementById('matrix01').value : matrix[0][1];
		var m10 = document.getElementById('matrix10').value ? document.getElementById('matrix10').value : matrix[1][0];
		var m11 = document.getElementById('matrix11').value ? document.getElementById('matrix11').value : matrix[1][1];

		matrix = [
			[m00, m01],
			[m10, m11]
		];

		var targetNode = document.getElementById("outputCanvas");
		triggerMouseEvent(targetNode, "mousedown");
	}

	// Trigger Mouse Events
	function triggerMouseEvent(node, eventType) {
		var clickEvent = document.createEvent('MouseEvents');
		clickEvent.initEvent(eventType, true, true);
		node.dispatchEvent(clickEvent);
	}

	gameMode = gameMode ? gameMode : 0;

	// Initalize updateOutput function, then update on PaperScript
	// var updateOutput = function() {};
</script>

<script src="../public/js/project/utilities/grid.js"></script>
<script src="../public/js/project/utilities/utils.js"></script>

<!-- PapersScript Canvas Import -->
<script type="text/paperscript" src="../public/js/project/transformation/inputCanvas.js" canvas="inputCanvas" data-script-scope="add"></script>
<script type="text/paperscript" src="../public/js/project/transformation/outputCanvas.js" canvas="outputCanvas" data-script-scope="add"></script>

<center>
  <h3>{{ page.title }}</h3>
</center>

<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<center>
				<!-- Input Grid -->
				<canvas id="inputCanvas" width="500" height="500"></canvas>
			</center>
		</div>

		<div class="col-md-2">
			<center>
				<br><br>
				<br><br>
				<br><br>
				<br><br>
				<br>

				<span class="glyphicon glyphicon-arrow-right arrow"></span>
			</center>
		</div>

		<div class="col-md-5">
			<center>
				<!-- Output Grid -->
				<canvas id="outputCanvas" width="500" height="500"></canvas>
			</center>
		</div>
	</div>
</div>

{{ content }}
