/**
 * TODO:
 * - Add a general styling class for sections
 * - Separate ids and the classes
 */
/**
 * Reset some basic elements
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul,
ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* 1 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*! Typebase.scss v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased; }

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0; }

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  ul li,
  ol li {
    line-height: 1.5rem; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0;
    margin-bottom: 0; }

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem; }

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem; }

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem; }

h3 {
  font-size: 1.414rem; }

h4 {
  font-size: 0.707rem; }

h5 {
  font-size: 0.47133rem; }

h6 {
  font-size: 0.3535rem; }

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0;
  line-height: 33; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug a the block above you */
.hug {
  margin-top: 0; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }

/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Font Imports
 */
/**
 * General
 */
#start .nav a {
  color: #88FD68 !important; }

/* Following Lines Remove Special Effects From BootStrap */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background: none; }

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
  border: none; }

.nav-tabs > li > a:hover {
  border: none;
  background: none; }

.project {
  height: 100%;
  /**
   * Lesson Info
   */
  /**
   * ScrollMagic Containers
   */
  /**
   * ScrollMagic Pin Panel
   */
  /**
   * ScrollMagic Wipe Panels
   */
  /**
   * ScrollMagic Slide Panels
   */
  /**
   * ScrollMagic Unpin Panel
   */ }
  .project h1,
  .project h2,
  .project h3,
  .project h4 {
    font-family: "Josefin Slab", serif;
    font-weight: bold;
    color: #88FD68;
    text-align: center; }
  .project h1 {
    font-weight: bold;
    font-size: 22px; }
  .project h2 {
    font-size: 18px; }
  .project .noselect * {
    user-select: none; }
  .project header {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1; }
  .project .lessonInfo {
    padding-top: 10%;
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    text-align: justify;
    width: 75wh; }
  .project .container {
    height: 100%;
    margin: 0 auto;
    max-width: 900px;
    position: relative;
    width: 100%; }
  .project #content-wrapper {
    height: 100%;
    min-height: 500px;
    width: 100%; }
  .project .scroll-magic-section {
    height: 100%; }
  .project #pin {
    overflow: hidden;
    width: 100%; }
    .project #pin h1 {
      margin: -40px 0 0;
      position: relative;
      top: 50%;
      font-size: 80px;
      line-height: 80px;
      text-align: center;
      color: #efefef; }
    .project #pin h2 {
      font-size: 50px;
      text-align: center;
      margin-top: 5%; }
    .project #pin .subtitle {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 5px;
      position: relative;
      text-align: center;
      vertical-align: middle; }
    .project #pin .info {
      font-size: 28px;
      margin: 0 auto;
      text-align: center;
      color: #000; }
    .project #pin p {
      font-family: 'Roboto', sans-serif;
      font-size: 40px;
      font-weight: 300;
      color: #efefef;
      position: relative;
      text-align: center;
      top: 35%; }
  .project #wipe0 {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    background: #2e639e; }
    .project #wipe0 h1 {
      color: white; }
    .project #wipe0 p {
      color: white; }
  .project #wipe1 {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    background: red; }
  .project #wipe2 {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    background: #fff; }
  .project #wipe3 {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    background: #fff; }
  .project #wipe4 {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    background: green; }
  .project #slide0 {
    height: 100%;
    position: absolute;
    top: -100%;
    width: 100%;
    background: #c7e1ff; }
    .project #slide0 h1 {
      position: absolute;
      width: 100%;
      color: black; }
    .project #slide0 p {
      color: black; }
  .project #slide1,
  .project #slide2 {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: 100%;
    background: tan; }
  .project #unpin {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background: maroon; }

#f404 {
  background-color: #3883d8;
  color: #fff;
  text-align: center;
  height: 100vh;
  padding-top: 25%; }
  #f404 span {
    font-weight: 400;
    display: block; }
    #f404 span a {
      color: orange;
      text-decoration: none; }
      #f404 span a:hover, #f404 span a:focus {
        opacity: 0.75; }
      #f404 span a:active {
        opacity: 0.90; }

#home {
  height: 100vh;
  background: #cccccc url("../public/img/splash_screen_black.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%; }
  #home h2 {
    font-family: 'Press Start 2P', sans-serif;
    color: #FFFFFF;
    margin-bottom: 75px;
    white-space: nowrap; }
    #home h2 a {
      color: #FFFFFF; }
    #home h2:hover, #home h2:focus {
      opacity: 0.75; }
    #home h2:active {
      opacity: 0.95; }
  #home .container {
    padding-top: 0%; }
  @media screen and (max-width: 768px) {
    #home h2 {
      font-size: 28px; }
    #home .container {
      padding-top: 50%; } }
  #home .btn {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 18px 30px;
    z-index: 1;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: 'Press Start 2P', sans-serif;
    color: #FFFFFF;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: bold; }
    #home .btn:after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 6px;
      z-index: -2;
      content: ''; }
    #home .btn.red {
      background: red; }
    #home .btn.green {
      background: green; }
    #home .btn.blue {
      background: blue; }
    #home .btn.orange {
      background: #e85a10; }
  #home .btn .hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden; }
    #home .btn .hover span {
      position: relative;
      display: block;
      left: -15px;
      height: 10px;
      width: 0;
      content: ''; }
    #home .btn .hover span:after {
      position: absolute;
      display: block;
      right: -10px;
      width: 10px;
      height: 10px;
      background: #FFFFFF;
      content: ''; }
    #home .btn .hover span:nth-child(odd):after {
      background: rgba(0, 0, 0, 0.35); }
    #home .btn .hover span:first-child {
      left: -75px;
      transition: all 0.3s steps(8); }
    #home .btn .hover span:nth-child(2) {
      left: -45px;
      transition: all 0.325s steps(8); }
    #home .btn .hover span:nth-child(3) {
      left: -55px;
      transition: all 0.35s steps(8); }
    #home .btn .hover span:nth-child(4) {
      transition: all 0.4s steps(8); }
    #home .btn .hover span:nth-child(5) {
      left: -25px;
      transition: all 0.375s steps(8); }
  #home .btn:hover .hover span:first-child {
    width: calc(100% + 76px);
    transition: all 0.4s steps(8); }
    #home .btn:hover .hover span:first-child:after {
      animation: whiteBlack 0.3s 0s 1 forwards; }
  #home .btn:hover .hover span:nth-child(2) {
    width: calc(100% + 46px);
    transition: all 0.375s steps(8); }
    #home .btn:hover .hover span:nth-child(2):after {
      animation: whiteBlack 0.3s 0.06s 1 reverse backwards; }
  #home .btn:hover .hover span:nth-child(3) {
    width: calc(100% + 56px);
    transition: all 0.35s steps(8); }
    #home .btn:hover .hover span:nth-child(3):after {
      animation: whiteBlack 0.3s 0.05s 1 forwards; }
  #home .btn:hover .hover span:nth-child(4) {
    width: calc(100% + 16px);
    transition: all 0.3s steps(8); }
    #home .btn:hover .hover span:nth-child(4):after {
      animation: whiteBlack 0.3s 0s 1 reverse backwards; }
  #home .btn:hover .hover span:nth-child(5) {
    width: calc(100% + 26px);
    transition: all 0.325s steps(8); }
    #home .btn:hover .hover span:nth-child(5):after {
      animation: whiteBlack 0.3s 0.07s 1 forwards; }

@keyframes whiteBlack {
  0%,
  24% {
    background: #FFFFFF; }
  25%,
  49% {
    background: rgba(0, 0, 0, 0.35); }
  50%,
  74% {
    background: #FFFFFF; }
  75%,
  100% {
    background: rgba(0, 0, 0, 0.35); } }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw; }

#game_body {
  background-color: transparent; }

.nav-tabs.nav-justified > li > a {
  border-bottom: none; }

#start {
  background: url("../public/img/robotbg.gif");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw; }
  #start .frameDiv {
    background-color: transparent;
    height: 670px;
    overflow: hidden;
    color: #000000;
    white-space: pre-wrap; }
  #start .infoLeft {
    display: none; }
  #start .infoRight {
    float: right; }
  #start .tab-content #home,
  #start .tab-content #game,
  #start .tab-content #mathguide {
    background-color: rgba(200, 200, 200, 0); }
  #start h2 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 36px;
    color: #88FD68; }
    #start h2 a {
      color: #FFFFFF;
      text-decoration: none; }
  #start h3 {
    font-family: 'Press Start 2P', sans-serif;
    color: #88FD68;
    font-size: 24px; }
  #start h4 {
    font-size: 24px; }
  @media screen and (max-width: 768px) {
    #start h2 {
      font-size: 28px; } }
  #start .thumbnail {
    height: 100%;
    width: 100%; }
  #start .people {
    list-style-type: none; }
    #start .people li {
      display: inline-block; }
      #start .people li a {
        text-decoration: none;
        color: #88FD68;
        font-size: 14px; }
      #start .people li:hover, #start .people li:focus {
        opacity: 0.75; }
      #start .people li:active {
        opacity: 0.95; }
  #start .nav {
    font-family: 'Press Start 2P', sans-serif; }
    #start .nav a {
      color: #333333; }

#foot {
  background-color: #f2f2f2;
  color: #333333; }
  #foot a {
    color: #333333; }
  #foot .font-code {
    font-family: 'Inconsolata', serif;
    font-size: 16px; }
