{% load static %}
<head>
  <link href='http://gmpg.org/xfn/11' rel='profile'>

  <link rel='canonical' href='http://p415x.xyz/start/ | replace:"index.html", ""' />
  <link rel='alternate' type='application/rss+xml' title='Project 415x' href='http://p415x.xyz/feed.xml' />

  <!-- METADATA -->
  <meta name='description' content='Project 415x is a learning tool for students to have a direct visual and kinesthetic experience of core concepts in Linear Algebra' />
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='keywords' content='Project, 415x, Mathematics, Linear, Algebgra, UIUC, Illinois, Engineering, STEM'>

  <!-- OPEN GRAPH -->
  <meta property='og:site_name' content='Project 415x' />
  <meta property='og:title' content='Project 415x' />
  <meta property='og:description' content='Project 415x is a learning tool for students to have a direct visual and kinesthetic experience of core concepts in Linear Algebra' />
  <meta property='og:image' content='http://p415x.xyz/public/img/project415x.png' />
  <meta property='og:image:width' content='1200'/>
  <meta property='og:image:height' content='630'/>
  <meta property='og:url' content='http://p415x.xyz/start/' />
  <meta property='og:type' content='website' />

  <!-- TWITTER CARD -->
  <meta name='twitter:title' content='Project 415x' />
  <meta name='twitter:card' content='summary' />
  <meta name='twitter:image' content='http://p415x.xyz/public/img/project415x.png' />
  <meta name='twitter:url' content='http://p415x.xyz/start/' />
  <meta name='twitter:description' content='Project 415x is a learning tool for students to have a direct visual and kinesthetic experience of core concepts in Linear Algebra' />

  <title>
    Project 415x 
  </title>

  <!-- ICONS -->
  <link rel='image_src' href="{% static 'game/public/logo.png' %}"/>
  <link rel='shortcut icon' href="{% static 'game/public/logo.png' %}"/>
  <link rel='apple-touch-icon-precomposed' href="{% static 'game/public/logo.png' %}"/>

  <!-- CSS -->
  <link rel='stylesheet' href="{% static 'game/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <!--link rel='stylesheet' href="{% static 'game/css/main.css' %}"-->
  <!--link rel='stylesheet' href="{% static 'game/css/playground.css' %}"-->
  <script src="{% static 'game/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script>
    var eventplus = new Event('levelup');
    var eventminus = new Event('leveldown');
    function levelChanger(increment){
      console.log("sending message");
      if(increment == 1)
        document.getElementById('mailbox').dispatchEvent(eventplus);
      else
        document.getElementById('mailbox').dispatchEvent(eventminus);
    }
  </script>

</head>

<body>
  {% block body %}{% endblock %}
    </div>
    <!-- Start Game Nav Buttons -->
    <div class="btn-group" id="navigation" role="group" aria-label="Game Navigation">
      <button id="lowerBoundLevel" type="button" height="15" width="15" class="btn btn-default" onclick="levelChanger(-1)"><img width="15" height="15" src="{% static 'game/public/img/left.png' %}"></img></button>
      <button id="upperBoundLevel" type="button" height="15" width="15" class="btn btn-default" onclick="levelChanger(1)"><img height="15" width="15" src="{% static 'game/public/img/right.png' %}"></img></button>
    </div>
    <!-- End Game Nav Buttons -->
</div>

<div role="tabpanel" class="tab-pane fade" id="mathguide">
  <div id="frameGuide" class="frameDiv" frameborder="0" width="100%"></div>
    <div class="btn-group" role="group" aria-label="Game Navigation">
      <button id="lowerBoundGuide" type="button" class="btn btn-default" ></button>
      <button id="upperBoundGuide" type="button" class="btn btn-default" ></button>
    </div>
</div>

    </div>
  </div>
</div>

<script src="{% static 'game/bower_components/d3/d3.min.js' %}""></script>
<script src="{% static 'game/dist/bundle.js' %}""></script>
<script src="{% static 'game/bower_components/bootstrap/dist/js/bootstrap.min.js' %}""></script>
</body>